:host {
  font-family: Roboto;
  font-size: 13px;
  display: grid;
  grid-template-columns: 330px;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-items: center;
  justify-items: stretch;
}

h1 {
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 28px;
  color: #444444;
  text-shadow: 0 0 4px #00ff00;
}

div {
  margin: 5px;
  padding: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  justify-items: end;
  background-color: #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.top {
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, 1em);
}

.bottom {
  grid-template-columns: auto 70px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(1, auto);
}

p {
  grid-column: 2;
  justify-self: start;
  font-weight: bold;
  color: #444444;
}

.happy {
  color: #444444;
  text-shadow: 0 0 2px #00ff00;
}

label {
  font-size: 100%;
  grid-column: 1;
  justify-self: end;
  color: #444444;
}

input {
  width: 70px;
  grid-column: 2;
  padding: 4px;
  font-size: 100%;
  border-radius: 5px;
}

button {
  grid-column: 2;
  justify-self: end;
  color: #fff !important;
  font-size: 100%;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
