<h1>Last Day Calculator</h1>
<div class="top">
  <label>Today:</label>
  <p>{{ today }}</p>
  <label>Last Day Contract:</label>
  <p>{{ lastDayContract }}</p>
  <label>Last Day calculated:</label>
  <p class="happy">{{ lastDayCalculated }}</p>
  <label>Working Days remaining:</label>
  <p class="happy">{{ daysRemaining }}</p>
  <label>Working hours last day:</label>
  <p class="happy">{{ lastDayWorkingHours }}</p>
</div>

<div class="bottom">
  <label>Short Term hours:</label>
  <input
    type="number"
    [(ngModel)]="hoursShortTermInitial"
    (ngModelChange)="onModelChange()"
  />
</div>
