<p>Today: {{today}}</p>
<p>Last Day: {{lastDayContract}}</p>
<p>Last Day calculated: {{lastDayCalculated}}</p>
<p>Days remaining: {{daysRemaining}}</p>

<p>Long Term hours:
  <input type='number' [(ngModel)]="hoursLongTermInitial" (ngModelChange)="onModelChange()"/>
</p>
<p>Vacation days before 2023:
  <input type='number' [(ngModel)]="daysVacationBefore2023" (ngModelChange)="onModelChange()"/>
</p>
<p>Vacation days 2023:
  <input type='number' [(ngModel)]="daysVacation2023" (ngModelChange)="onModelChange()"/>
</p>
<br>
<button (click)="onReset()">Reset</button>
